* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container{
    background: white;
    padding: 50px;
    width: 300px;
    border-radius: 8px;
 box-shadow: 0 0 10px rgba(116, 12, 12, 0.1);
}

.todo-container h2 {
  text-align: center;
  margin-bottom: 15px;
}

.input-box {
  display: flex;
  gap: 5px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  margin-top: 15px;
}

li {
  background: #eee;
  padding: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}
